@tailwind base;
@tailwind components;
@tailwind utilities;



.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-slide .zoom-effect{
	transform :scale(1);
	transition: transform 3s ease-in-out;
  }
  .swiper-slide-active .zoom-effect{
	transform :scale(1.2);
	transition: transform 3s ease-out-in;
  }
  
  @layer base {
  :root {
        --radius: 0.5rem;
    }
}





#LoginBtn {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

#LoginBtn:active {
	transform: scale(0.95);
}

#LoginBtn:focus {
	outline: none;
}

#LoginBtn.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

#nav-toggle:checked + #sidebar{
	width: 10px;
}



/* From Uiverse.io by kerolos23 */
.loader {
	transform: rotateZ(45deg);
	perspective: 1000px;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	color: #91ff00;
	position: relative;
  }
  
  .loader:before,
  .loader:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	border-radius: 50%;
	transform: rotateX(70deg);
	animation: 1s spin linear infinite;
  }
  
  .loader:after {
	color: #FF3D00;
	transform: rotateY(70deg);
	animation-delay: .4s;
  }
  
  @keyframes spin {
	0%, 100% {
	  box-shadow: .2em 0px 0 0px currentcolor;
	}
	12% {
	  box-shadow: .2em .2em 0 0 currentcolor;
	}
	25% {
	  box-shadow: 0 .2em 0 0px currentcolor;
	}
	37% {
	  box-shadow: -.2em .2em 0 0 currentcolor;
	}
	50% {
	  box-shadow: -.2em 0 0 0 currentcolor;
	}
	62% {
	  box-shadow: -.2em -.2em 0 0 currentcolor;
	}
	75% {
	  box-shadow: 0px -.2em 0 0 currentcolor;
	}
	87% {
	  box-shadow: .2em -.2em 0 0 currentcolor;
	}
  }

  /* From Uiverse.io by Tsiangana */ 
/* This is an example, feel free to delete this code */
.tooltip-container {
	background: rgb(3, 169, 244);
	background: linear-gradient(
	  138deg,
	  rgba(3, 169, 244, 1) 15%,
	  rgba(63, 180, 233, 1) 65%
	);
	position: relative;
	cursor: pointer;
	font-size: 17px;
	padding: 0.7em 0.7em;
	border-radius: 50px;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  .tooltip-container:hover {
	background: #fff;
	transition: all 0.6s;
  }
  .tooltip-container .text {
	display: flex;
	align-items: center;
	justify-content: center;
	fill: #fff;
	transition: all 0.2s;
  }
  .tooltip-container:hover .text {
	fill: rgb(3, 169, 244);
	transition: all 0.6s;
  }
  
  /* Inicio do tooltip twitter */
  .tooltip1 {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	visibility: hidden;
	background: #fff;
	fill: #03a9f4;
	padding: 10px;
	border-radius: 50px;
	transition: opacity 0.3s, visibility 0.3s, top 0.3s, background 0.3s;
	z-index: 1;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .tooltip-container:hover .tooltip1 {
	top: 150%;
	opacity: 1;
	visibility: visible;
	background: #fff;
	border-radius: 50px;
	transform: translate(-50%, -5px);
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .tooltip-container:hover .tooltip1:hover {
	background: #03a9f4;
	fill: #fff;
  }
  /* Fim do tooltip twitter */
  
  /* Inicio do tooltip facebook */
  .tooltip2 {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	visibility: hidden;
	background: #fff;
	fill: #0462df;
	padding: 10px;
	border-radius: 50px;
	transition: opacity 0.3s, visibility 0.3s, top 0.3s, background 0.3s;
	z-index: 1;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .tooltip-container:hover .tooltip2 {
	top: -120%;
	opacity: 1;
	visibility: visible;
	background: #fff;
	transform: translate(-50%, -5px);
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .tooltip-container:hover .tooltip2:hover {
	background: #0462df;
	fill: #fff;
  }
  /* Fim do tooltip facebook */
  
  /* Inicio do tooltip whatsApp */
  .tooltip3 {
	position: absolute;
	top: 100%;
	left: 60%;
	transform: translateX(80%);
	opacity: 0;
	visibility: hidden;
	background: #fff;
	fill: #1db954;
	padding: 10px;
	border-radius: 50px;
	transition: opacity 0.3s, visibility 0.3s, top 0.3s, background 0.3s;
	z-index: 1;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .tooltip-container:hover .tooltip3 {
	top: 10%;
	opacity: 1;
	visibility: visible;
	background: #fff;
	transform: translate(85%, -5px);
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .tooltip-container:hover .tooltip3:hover {
	background: #1db954;
	fill: #fff;
  }
  /* Fim do tooltip whatsApp */
  
  /* Inicio do tooltip Discord */
  .tooltip4 {
	position: absolute;
	top: 100%;
	left: -190%;
	transform: translateX(70%);
	opacity: 0;
	visibility: hidden;
	background: #fff;
	fill: #8c9eff;
	padding: 10px;
	border-radius: 50px;
	transition: opacity 0.3s, visibility 0.3s, top 0.3s, background 0.3s;
	z-index: 1;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .tooltip-container:hover .tooltip4 {
	top: 10%;
	opacity: 1;
	visibility: visible;
	background: #fff;
	transform: translate(70%, -5px);
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .tooltip-container:hover .tooltip4:hover {
	background: #8c9eff;
	fill: #fff;
  }
  /* Fim do tooltip Discord */
  
  /* Inicio do tooltip pinterest */
  .tooltip5 {
	position: absolute;
	top: 100%;
	left: -145%;
	transform: translateX(70%);
	opacity: 0;
	visibility: hidden;
	background: #fff;
	fill: #bd081c;
	padding: 10px;
	border-radius: 50px;
	transition: opacity 0.3s, visibility 0.3s, top 0.3s, background 0.3s;
	z-index: 1;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .tooltip-container:hover .tooltip5 {
	top: -78%;
	opacity: 1;
	visibility: visible;
	background: #fff;
	transform: translate(70%, -5px);
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .tooltip-container:hover .tooltip5:hover {
	background: #bd081c;
	fill: #fff;
  }
  /* Fim do tooltip pinterest */
  
  /* Inicio do tooltip dribbble */
  .tooltip6 {
	position: absolute;
	top: 100%;
	left: 35%;
	transform: translateX(70%);
	opacity: 0;
	visibility: hidden;
	background: #fff;
	fill: #ea4c89;
	padding: 10px;
	border-radius: 50px;
	transition: opacity 0.3s, visibility 0.3s, top 0.3s, background 0.3s;
	z-index: 1;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .tooltip-container:hover .tooltip6 {
	top: -79%;
	opacity: 1;
	visibility: visible;
	background: #fff;
	transform: translate(70%, -5px);
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .tooltip-container:hover .tooltip6:hover {
	background: #ea4c89;
	fill: #fff;
  }
  /* Fim do tooltip dribbble */
  
  /* Inicio do tooltip github */
  .tooltip7 {
	position: absolute;
	top: 100%;
	left: 39%;
	transform: translateX(70%);
	opacity: 0;
	visibility: hidden;
	background: #fff;
	fill: #000;
	padding: 10px;
	border-radius: 50px;
	transition: opacity 0.3s, visibility 0.3s, top 0.3s, background 0.3s;
	z-index: 1;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .tooltip-container:hover .tooltip7 {
	top: 104%;
	opacity: 1;
	visibility: visible;
	background: #fff;
	transform: translate(70%, -5px);
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .tooltip-container:hover .tooltip7:hover {
	background: #000;
	fill: #fff;
  }
  /* Fim do tooltip github */
  
  /* Inicio do tooltip reddit */
  .tooltip8 {
	position: absolute;
	top: 100%;
	left: -150%;
	transform: translateX(70%);
	opacity: 0;
	visibility: hidden;
	background: #fff;
	fill: #ff4500;
	padding: 10px;
	border-radius: 50px;
	transition: opacity 0.3s, visibility 0.3s, top 0.3s, background 0.3s;
	z-index: 1;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .tooltip-container:hover .tooltip8 {
	top: 101%;
	opacity: 1;
	visibility: visible;
	background: #fff;
	transform: translate(70%, -5px);
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .tooltip-container:hover .tooltip8:hover {
	background: #ff4500;
	fill: #fff;
  }
  /* Fim do tooltip reddit */
  
  /* Inicio do tooltip fixo */
  .tooltip9 {
	position: absolute;
	top: 0;
	left: -115%;
	opacity: 0;
	visibility: hidden;
	width: 150px;
	height: 150px;
	z-index: -1;
  }
  
  .tooltip-container:hover .tooltip9 {
	top: -110%;
	opacity: 1;
	visibility: visible;
	border-radius: 50%;
	z-index: -1;
  }

/* 
@keyframes rotateGlobe {
	0% { transform: rotateX(0deg); }
	100% { transform: rotateY(180deg); }
}
.globe-container {
	animation: rotateGlobe 10s linear infinite;
} */
